@import url('https://font.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');


@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Light.woff2') format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Bold.woff2') format('woff2');
    font-weight: 700;
}
